:root {
	--bg-cashiers-panel: rgb(35, 39, 49);
	--bg-attribute-panel: rgb(28, 32, 43);
	--border-main: rgb(30, 112, 67);
	--text-normal: rgb(234, 239, 234);
}

html {
	color: var(--text-normal);
	background: var(--bg-main);
}

html, body, #root, .App {
	height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
	display: flex;
}

.input_panel {
	padding: 25px;
	min-width: 270px;
	width: 30%;
	background: var(--bg-attribute-panel);
	border-right: var(--border-main) 1px solid;
}

.cashiers_panel {
	margin: 0;
	padding: 25px;
	background: var(--bg-cashiers-panel);
	width: 100%;
}

.input_field {

}

.input_field:invalid {
	outline: red 1px solid;
}

.input_field_container label {
	display: block;
}
