@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--bg-cashiers-panel: rgb(35, 39, 49);
	--bg-attribute-panel: rgb(28, 32, 43);
	--border-main: rgb(18, 145, 75);
	--text-normal: rgb(234, 239, 234);
	--bg-input: rgb(36, 42, 54);
	--focus-border: rgb(30, 163, 90);
	--color-accent: rgb(11, 206, 99);
}

html {
	color: var(--text-normal);
	background: var(--bg-main);
}

html,
body,
#root,
.App {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Inter';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.App {
	display: flex;
}

.input_panel {
	padding: 25px;
	width: 300px;
	background: var(--bg-attribute-panel);
	border-right: var(--focus-border) 2px solid;
}

.input_list {
	display: flex;
	flex-direction: column;
	row-gap: 17px;
}

.input_field label {
	display: block;
	text-transform: uppercase;
	padding: 4px 17px;
	font-size: 1em;
	font-weight: 500;
}

.input_field input {
	background: var(--bg-input);
	font-size: 1em;
	color: var(--text-normal);
	border: none;
	border-radius: 5px;
	padding: 9px 15px;
	box-sizing: border-box;
	width: 100%;
}

.input_field input:focus {
	outline: var(--focus-border) 3px solid;
}

.input_field input:invalid {
	outline: red 3px solid;
}

.button {
	background: rgb(219, 62, 0);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1em;
	color: var(--text-normal);
	border: none;
	border-radius: 5px;
	padding: 9px 15px;
	box-sizing: border-box;
	width: 100%;
	cursor: pointer;
}

.cashiers_panel {
	margin: 0;
	padding: 25px;
	background: var(--bg-cashiers-panel);
	width: 100%;
}

.cashier_list {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.cashier {
	background: rgba(8, 16, 26, 0.25);
	border-radius: 10px;
	padding: 15px;
	display: block;
	width: fit-content;
}

.cashier .param_list {
	display: flex;
	flex-direction: row;
	column-gap: 15px;
}

.cashier .param_box {
	display: flex;
	font-size: 1.3em;
	align-items: stretch;
	padding: 10px;
	border-radius: 8px;
	background: rgba(11, 206, 99, 0.1);
}

.cashier h3 {
	margin-top: 0;
	margin-bottom: 10px;
}

.queue_icon {
	opacity: 0.7;
	width: 32px;
	content: url('https://api.iconify.design/bi/people.svg?color=white&flip=horizontal');
}

.queue_label {
	width: 40px;
	align-self: center;
	text-align: right;
}

.time_icon {
	opacity: 0.7;
	height: 28px;
	width: 32px;
	align-self: center;
	content: url('https://api.iconify.design/subway/time-2.svg?color=white');
}

.avg_icon {
	opacity: 0.7;
	width: 32px;
	align-self: center;
	content: url('https://api.iconify.design/ant-design/vertical-align-middle-outlined.svg?color=white');
}

.param_label {
	width: 49px;
	background: none;
	font-size: inherit;
	color: var(--text-normal);
	text-align: right;
	align-self: center;
	border: none;
}